body{
	font-family: sans-serif;
}
#intro-container{
}

#points-container, h1{
	font-size: 20pt;
	text-align: center;
	margin: 20px;
}

#cards-container{
}

#cards-buttons-container{

}

.card-container
{
	display: block;
	padding:10px;
	margin: 10px;
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;

	width:calc(100% - 20px);
	max-width: 600px;
	border:1px solid #5b5b5b;
	box-shadow: 10px 0px 9px #000000aa;
}

img {
	display: block;
	margin: 10px;
	margin-left:auto;
	margin-right: auto;
}


button, input, label{
	display: block;
	padding:10px;
	margin: 10px;
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;
	width:calc(100% - 40px);
	max-width: 400px;;
}